# Principaux types et littéraux

In [32]:
# une fonction utilitaire
def describe_variable(variable):
    """Retourne la valeur d'une variable, son identifiant et son type sous forme d'une chaîne."""
    return str.format("{} ({}, {})", variable, id(variable), type(variable))

## Entier

In [33]:
# un entier (int)
largeur = 20
print(describe_variable(largeur))

20 (94501225103616, <class 'int'>)

## Booléen

In [34]:
# un booléen
trouve = False
print(describe_variable(trouve))

False (94501224927680, <class 'bool'>)

## Nombre en virgule flottante

In [35]:
# un nombre en virgule flottante
prix = 12.3
print(describe_variable(prix))

12.3 (139963093511384, <class 'float'>)

## Nombre complexe

In [36]:
# un complexe
a_complex = 2+3j
print(describe_variable(a_complex))

(2+3j) (139963036830672, <class 'complex'>)

Les types de collections sont illustrés [plus bas](#Types-de-collections).

# Liaison des variables et référence

In [38]:
a = 1 # a est lié à l'entier (immuable) 1 (a -> 1)
print(str.format("a -> {}", describe_variable(a)))
b = 2 # b est lié à l'entier (immuable) 2 (a -> 1, b -> 2)
print(str.format("a -> {}, b -> {}", describe_variable(a), describe_variable(b)))
c = a # c est lié à l'entier (immuable) 1 référencé par a (a -> 1 <- c, b -> 2)
print(str.format("a -> {}, b -> {}, c -> {}", describe_variable(a), describe_variable(b), describe_variable(c)))
a = b # (a -> 2 <- b, c -> 1)
print(str.format("a -> {}, b -> {}, c -> {}", describe_variable(a), describe_variable(b), describe_variable(c)))

a -> 1 (94501225103008, <class 'int'>)
a -> 1 (94501225103008, <class 'int'>), b -> 2 (94501225103040, <class 'int'>)
a -> 1 (94501225103008, <class 'int'>), b -> 2 (94501225103040, <class 'int'>), c -> 1 (94501225103008, <class 'int'>)
a -> 2 (94501225103040, <class 'int'>), b -> 2 (94501225103040, <class 'int'>), c -> 1 (94501225103008, <class 'int'>)

# Structures de contrôle

## Pas d'action

In [40]:
# ne fait rien
pass

## Instruction conditionnelle

In [45]:
i = 5
print("i -> " + str(i))
if i < 10:
    print("Inférieur à 10")
elif i > 100:
    print("Supérieur à 100")
else:
    print("Tous les autres cas")

i = 110
print("i -> " + str(i))
if i < 10:
    print("Inférieur à 10")
elif i > 100:
    print("Supérieur à 100")
else:
    print("Tous les autres cas")
    
i = 50
print("i -> " + str(i))
if i < 10:
    print("Inférieur à 10")
elif i > 100:
    print("Supérieur à 100")
else:
    print("Tous les autres cas")

i -> 5
Inférieur à 10
i -> 110
Supérieur à 100
i -> 50
Tous les autres cas

## Boucle

In [48]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [49]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [50]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

# Quelques opérateurs spécifiques

## Division en virgule flottante

In [51]:
3 / 4

0.75

## Division entière

In [53]:
3 // 4

0

## Élévation à la puissance

In [54]:
3 ** 3

27

## Expression conditionnelle

In [56]:
i = 5
print("i -> " + str(i))
print("Inférieur à 10" if i < 10 else "Supérieur à 10")
i = 15
print("i -> " + str(i))
print("Inférieur à 10" if i < 10 else "Supérieur à 10")

i -> 5
Inférieur à 10
i -> 15
Supérieur à 10

## Conversion de type

In [59]:
s = "i -> " + i

TypeError: Can't convert 'int' object to str implicitly

In [58]:
s = "i -> " + str(i) # création d'un objet de type str à partir d'un int
print(describe_variable(s))

i -> 15 (139962991047208, <class 'str'>)

# Fonction

In [60]:
def fib(n):
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [61]:
fib(2000) # Appel de la fonction

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

# Types de collections

## Chaînes de caractères

In [65]:
word = 3 * 'un' + 'ium'
print("word est de taille {1}, de type {2} et est lié à {0}".format(word, len(word), type(word)))
print(word[0])   # character in position 0
print(word[-1])  # last character
print(word[2:5]) # characters from position 2 (included) to 5 (excluded)
print(word[:2])  # character from the beginning to position 2 (excluded)
print(word[4:])  # characters from position 4 (included) to the end

word est de taille 9, de type <class 'str'> et est lié à unununium
u
m
unu
un
unium

## Tuples

In [69]:
t = () # tuple vide
print(describe_variable(t))
t = 12345, # singleton
print(t)
t = 12345, 54321, 'hello!'
print(t)
print(t[0]) # premier élément
a, b, c = t
print("a -> {}, b -> {}, c -> {}".format(a, b, c))

() (139963139559496, <class 'tuple'>)
(12345,)
(12345, 54321, 'hello!')
12345
a -> 12345, b -> 54321, c -> hello!

## Listes

In [73]:
squares = [1, 4, 9, 16, 25]
print(describe_variable(squares))
squares = [x**2 for x in range(10)] # liste en compréhension
print(describe_variable(squares))
del squares[0] # supprime le premier élément
print(describe_variable(squares))

cubes = [1, 8, 27, 65, 125]
print(describe_variable(cubes))
cubes[3] = 64 # modifiable
print(describe_variable(cubes))
del cubes # supprime la variable
print(describe_variable(cubes))

[1, 4, 9, 16, 25] (139962990825544, <class 'list'>)
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81] (139962991293704, <class 'list'>)
[1, 4, 9, 16, 25, 36, 49, 64, 81] (139962991293704, <class 'list'>)
[1, 8, 27, 65, 125] (139962990825544, <class 'list'>)
[1, 8, 27, 64, 125] (139962990825544, <class 'list'>)

NameError: name 'cubes' is not defined

## Ensembles

In [81]:
basket = set() # ensemble vide
print(describe_variable(basket))
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(describe_variable(basket))
print('orange' in basket) # test d'appartenance
a = set('abracadabra') # les doublons sont éliminés
print("a -> {}".format(a))
b = set('alacazam')
print("b -> {}".format(b))
print("a - b == {}".format(a - b)) # différence
print("a | b == {}".format(a | b)) # union
print("a & b == {}".format(a & b)) # intersection
print("a ^ b == {}".format(a ^ b)) # a union b privé de a inter b
a = {x for x in 'abracadabra' if x not in 'abc'} # ensemble en compréhension
print("a -> {}".format(a))

set() (139962991887528, <class 'set'>)
{'orange', 'banana', 'pear', 'apple'} (139962991888872, <class 'set'>)
True
a -> {'a', 'b', 'd', 'c', 'r'}
b -> {'a', 'm', 'l', 'z', 'c'}
a - b == {'b', 'd', 'r'}
a | b == {'b', 'd', 'r', 'm', 'c', 'a', 'z', 'l'}
a & b == {'a', 'c'}
a ^ b == {'b', 'd', 'r', 'm', 'z', 'l'}
a -> {'d', 'r'}

## Dictionnaires

In [84]:
tel = {'jack': 4098, 'sape': 4139}
print(describe_variable(tel))
tel['guido'] = 4127
print(tel)
del tel['sape']
print(tel)

{'sape': 4139, 'jack': 4098} (139962991280968, <class 'dict'>)
{'sape': 4139, 'jack': 4098, 'guido': 4127}
{'jack': 4098, 'guido': 4127}